.button {
  color: var(--color-text-light);
  font-size: 1.4rem;
  font-weight: 700;
  border: none;
  border-radius: 0.8rem;
  position: fixed;
  bottom: 10%;
  right: 1.6rem;
  left: 1.6rem;
  padding: 1.6rem 0;
  background-color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  cursor: pointer;
}
