.button {
  color: var(--color-text-light);
  background-color: var(--color-primary);
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: capitalize;
  border: none;
  border-radius: 0.8rem;
  width: 100%;
  padding: 1.6rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  cursor: pointer;
}

.button:hover {
  background-color: var(--color-primary-hover);
}

.button--fixed {
  position: fixed;
  bottom: 10%;
  right: 1.6rem;
  left: 1.6rem;
  width: auto;
}

@media (min-width: 768px) {
  .button--fixed {
    display: none;
  }
}
