.transactions {
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: 1.6rem;
}

.transactions__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.6rem;
}

.transactions a {
  color: var(--color-primary);
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: none;
  white-space: nowrap;
}

.transactions__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
