.overview-summary {
  grid-column: 1 / -1;

  display: grid;
  grid-template-columns: 1fr;
  gap: 2.4rem;
}

@media (min-width: 768px) {
  .overview-summary {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .overview-summary > :last-child {
    grid-column: 1 / -1;
  }
}

@media (min-width: 1040px) {
  .overview-summary {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .overview-summary > :last-child {
    grid-column: auto;
  }
}
