.overview-summary {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

@media (min-width: 768px) {
  .overview-summary {
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
    grid-column: 1 / -1;
  }

  .overview-summary .summary-card {
    flex-basis: 32%;
  }
}
