.header {
  padding: 1.6rem 1.6rem 0 1.6rem;
}

.header__group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.6rem;
}

.header__date {
  color: var(--color-text-secondary);
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.header__lead {
  color: var(--color-text-secondary);
  font-size: 1.2rem;
  margin-top: 0.8rem;
}

.header__account {
  color: var(--color-text-light);
  font-size: 1.2rem;
  padding: 0.8rem;
  border-radius: 999px;
  background-color: var(--color-primary);
}

@media (min-width: 768px) {
  .header__lead {
    color: var(--color-text-secondary);
    font-size: 1.4rem;
    margin-top: 0.8rem;
  }
}

@media (min-width: 1040px) {
  .header {
    grid-column: 2 / -1;

    padding: 1.6rem 1.6rem 0 0;
  }
}
