/* Imports */

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Variables */

:root {
  --color-text-primary: #0f172a;
  --color-text-secondary: #64748b;
  --color-text-light: #e2e8f0;
  --color-text-lgith-hover: #fff;
  --color-primary: #2563eb;
  --color-primary-hover: #1d4ed8;
  --color-primary-light: #ede9fe;

  --color-income: #16a34a;
  --color-income-light: #dcfce7;
  --color-expense: #dc2626;
  --color-expense-light: #fee2e2;

  --color-chart-blue: #2563eb;
  --color-chart-purple: #7c3aed;
  --color-chart-orange: #ea580c;
  --color-chart-cyan: #0891b2;
  --color-chart-pink: #db2777;
  --color-chart-lime: #65a30d;

  --border-color: #e2e8f0;
  --font-family-main: "Inter", sans-serif;
}

/* Global */

html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

*::before,
*,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-main);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.app {
  min-height: 100vh;
  position: relative;
}

main {
  padding: 1.6rem 0;
}

/* Typography */

.heading-1 {
  color: var(--color-text-primary);
  font-size: 2.4rem;
  flex: 1;
}

@media (min-width: 768px) {
  .heading-1 {
    font-size: 3.2rem;
  }
}

@media (min-width: 1040px) {
  .app {
    display: grid;
    grid-template-columns: 25rem 1fr;
    gap: 3.2rem;
  }

  main {
    grid-column: 2 / -1;
  }
}
